.download-button {
	background-color: #00A7A6;
	color: #F4F4F4;
	border-radius: 25px;
	height: 50px;
	font-weight: 600;
	cursor: pointer;
	border:none;
	filter: drop-shadow(0 0 1px #00A7A6) drop-shadow(0 0 50px #00A7A6) contrast(2) brightness(1);
	outline: none;
}