.header {
  margin-bottom: 100px;

}

#root {
  width: 100vw;
  height: 100vh;
  background: #121413;
}

.root-title {
  color: #F4F4F4;
  margin: 0 auto;
  width:max-content;
  text-align: center;

}

.root-title h1 {
  font-size: 4rem;
  text-align: center;
}

.root-title p {
  width: 100%;
  color: #BBB;
  margin: 1rem 0 3rem;
}


#download-logo {
  width: 20px;
  height: 20px;
  margin: 5px 10px;
}

.button-content {
  display: flex;
  align-items: center;
}